.indicator-warp {
  /*.body {
         border-top: 1px solid #ddd;
         padding: 0 15px 0 25px;
    }
    */
}
.indicator-warp h2, .indicator-warp h3 {
  font-style: normal;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
.indicator-warp h2 {
  margin: 10px 15px 10px 25px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.indicator-warp h2.active {
  border: 3px solid #e4f6f9;
  padding: 3px 10px;
}
.indicator-warp h3 {
  padding: 5px 15px 5px 50px;
}
.indicator-warp h3.active {
  background: #f4f9e4;
}
.indicator-warp .checkbox-loop {
  padding: 5px 15px 5px 75px;
}
.selected-item {
  padding: 10px 10px 0 25px;
  border-bottom: 0;
  text-align: left;
}
.btn-group button {
  min-width: 120px;
}
