@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-input-element {
  border: 1px solid #000 !important;
}
form{
  margin: 0 auto;
  max-width: 350px;
}
.is-invalid{
  border-color: red !important;
}
